.section {
  display: flex;
  flex-direction: column;
  padding: 20px 7%;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes updown {
  0% {
    transform: translateY(-1.5%);
  }
  50% {
    transform: translateY(1.5%);
  }
  100% {
    transform: translateY(-1.5%);
  }
}
@keyframes rightleft {
  0% {
    transform: translateX(-20%);
  }
  50% {
    transform: translateX(20%);
  }
  100% {
    transform: translateX(-20%);
  }
}
.link {
  color: #fff;
  outline: none;
  text-decoration: none;
  transition: all 0.3s;
}
.link:hover {
  color: #ff960b;
}

.active {
  color: #ff960b !important;
  border-color: #ff960b !important;
}

.image {
  width: 100%;
  border-radius: 5px;
}

.btn {
  display: inline-block;
  outline: none;
  border: none;
  color: #fff;
  background-color: #ff960b;
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 5px !important;
  cursor: pointer;
  transition: all 0.3s;
}
.btn:hover {
  background-color: #f3ba40;
}

span {
  color: #ff960b;
}

.title {
  margin: 20px 0;
}
.title:before {
  content: "";
  top: 0;
  left: 0;
  width: 100px;
  border: 2px solid #ff960b;
  margin-right: 10px;
}

.showMenu {
  transform: translateY(0) !important;
}

.topCoinIcon {
  width: 15px;
}

.mobileHide {
  display: none;
}

.topCoinsTable tr td h4 {
  display: inline-block;
  margin: 0 5px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppinds", sans-serif;
}

body {
  background-color: #000000;
  color: #fff;
}

.home {
  background-color: #000000;
  position: relative;
  width: 100%;
  height: 100vh;
  background-position: center;
  background-size: cover;
  color: #fff;
}
.home .logo {
  width: 50px;
  cursor: pointer;
}
.home nav {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  padding: 20px 7%;
}
.home nav button {
  background-color: transparent;
  border: 0;
  outline: 0;
}
.home nav .burger {
  z-index: 100;
  font-size: 25px;
  color: #ff960b;
  border: 2px solid #ff960b;
  border-radius: 5px;
  padding: 5px;
}
.home nav .burger .close {
  display: none;
}
.home nav ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  transform: translateY(-100%);
  transition: transform 0.3s;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  background-color: #000000;
}
.home nav ul li {
  padding: 20px 0;
  display: inline-block;
  margin: 10px 20px;
}
.home nav ul li a {
  color: #fff;
  text-decoration: none;
}
.home .homeContent {
  margin-top: 30%;
  padding: 0 7%;
}
.home .homeContent h1 {
  font-size: 44px;
  margin-bottom: 15px;
}
.home .homeContent p {
  line-height: 24px;
  font-size: 18px;
}
.home .homeContent .btcReleaseContainer {
  margin-top: 22px;
  margin-bottom: 30px;
}
.home .homeContent .btcReleaseContainer h2 {
  font-size: 20px;
  color: #ff960b;
}
.home .homeContent .timeContainer {
  font-size: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 10px;
}
.home .homeContent .timeContainer .timePart {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: 1px solid #fff;
  border-bottom: 0;
  border-top: 0;
  padding: 10px;
}
.home .homeContent .timeContainer .timePart:last-child {
  border: 0;
}
.home .homeContent .whitePaperBtn {
  background-color: transparent !important;
  border: 1px solid #fff;
  margin-left: 5px;
}
.home .homeContent .whitePaperBtn:hover {
  color: #ff960b !important;
  border: 1px solid #ff960b !important;
}
.home .homeContent .buyBtcBtn:hover {
  background-color: #f0a910 !important;
}

.marketNews .marketNewsHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
}
.marketNews .marketNewsHeader button i {
  margin-left: 4px;
  animation: rightleft 2s ease infinite;
}
.marketNews .itemContainer {
  margin-bottom: 20px;
}
.marketNews .itemContainer h3 {
  margin-bottom: 8px;
}
.marketNews .itemContainer button {
  font-size: 12px;
  margin-top: 15px;
  background-color: transparent !important;
  border-radius: 0 !important;
  border: 1px solid #ff960b;
}
.marketNews .itemContainer button:hover {
  background-color: #ff960b !important;
}

.nftsHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nftsHeader button i {
  margin-left: 4px;
  animation: rightleft 2s ease infinite;
}

.nftsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.nftsContainer .nftsItem {
  margin: 20px 0;
  width: 100%;
}
.nftsContainer .nftsItem h3 {
  font-size: 22px;
  margin: 10px 0;
}
.nftsContainer .nftsItem .nftsInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nftsContainer .nftsItem .nftsInfo h5 {
  font-size: 15px;
}
.nftsContainer .nftsItem .nftsInfo button {
  padding: 5px 15px !important;
}
.nftsContainer .nftsItem img {
  width: 100%;
  border-radius: 20px;
}

.definition .subjectsContainer {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-top: 40px;
}
.definition .subjectsContainer button {
  padding: 2px 10px;
  background-color: transparent;
  border-bottom: 2px solid #fff;
  border-radius: 0 !important;
  margin: 10px;
}
.definition .subjectsContainer button:hover {
  color: #ff960b;
  border-color: #ff960b;
}
.definition .definitionContainer {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}
.definition .definitionContainer img {
  width: 80%;
  margin: 20px 0;
  animation: updown 2s ease infinite;
}

.steps {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: relative;
}
.steps:after {
  content: "";
  position: absolute;
  width: 1px;
  background-color: #ff960b;
  opacity: 0.3;
  top: 0;
  bottom: 45px;
}
.steps .stepsContainer {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  position: relative;
  width: 90%;
  margin-bottom: 25px;
}
.steps .stepsContainer .stepContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  padding: 32px;
  background-color: #111;
  position: relative;
  border-radius: 5px;
  box-shadow: 0 1px 20px rgba(255, 150, 11, 0.5);
  z-index: 999;
}
.steps .stepsContainer .step-line {
  display: none;
  width: 40px;
  background-color: #ff960b;
  height: 1px;
  opacity: 0.4;
  margin-bottom: 10px;
}
.steps .stepsContainer .date {
  display: flex;
  font-weight: 900;
  font-size: 16px;
  color: #fff;
  margin-bottom: 15px;
  width: 62px;
  height: 62px;
  background-color: #ff960b;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  z-index: 999;
  transition: all 0.3s;
  cursor: pointer;
}
.steps .stepsContainer .date:hover {
  background-color: #e3e3e3;
  color: #ff960b;
}
.steps .stepsContainer i {
  color: #ff960b;
}
.steps .stepsContainer h3 {
  color: #ff960b;
  transition: all 0.3s;
  text-align: center;
}
.steps .stepsContainer h3 {
  margin-bottom: 5px;
  font-size: 20px;
}
.steps .stepsContainer p {
  font-size: 15px;
  text-align: center;
}

.calculatorContainer {
  flex-direction: column;
  align-items: flex-start;
}
.calculatorContainer .calPart {
  border: 1px solid #ff960b;
  padding: 10px;
  border-radius: 5px;
}
.calculatorContainer .calPart input {
  color: #fff;
  outline: none;
  border: 1px solid #fff;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: transparent;
  margin: 10px;
  width: 70%;
}
.calculatorContainer img {
  display: none;
}

.topCoinsTable {
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}
.topCoinsTable th {
  padding: 1em 0;
  color: #ff960b;
}
.topCoinsTable td {
  border-bottom: 1px solid rgba(255, 149, 11, 0.4509803922);
  padding: 1em 0;
}
.topCoinsTable td span {
  opacity: 0.8;
  font-size: 18px;
}
.topCoinsTable tbody tr:hover {
  background-color: #222;
  cursor: pointer;
}
.topCoinsTable .coinSharp {
  padding-right: 1em;
}

.featureContainer {
  flex-direction: column;
}
.featureContainer div {
  transition: all 0.3s;
}
.featureContainer div img {
  transition: all 0.3s;
}
.featureContainer div:hover img {
  transform: translateY(-10px);
}
.featureContainer div:nth-child(even) {
  background-color: #111;
}
.featureContainer .featureItem {
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
  padding: 20px;
  border-radius: 5px;
}
.featureContainer .featureItem img {
  width: 200px;
}
.featureContainer .featureItem h3 {
  font-size: 24px;
  margin: 10px 0;
}
.featureContainer .featureItem p {
  font-size: 18px;
  text-align: center;
  line-height: 24px;
}/*# sourceMappingURL=main.css.map */