@media (min-width: 576px) {
    .homeContent {
        margin-top: 20% !important;
    }

    .homeContent h1 {
        font-size: 66px !important;
    }

    .homeContent p {
        line-height: 25px;
        font-size: 18px !important;
    }

    .btcReleaseContainer h2 {
        font-size: 22px !important;
    }

    .timeContainer {
        font-size: 25px !important;
    }

    .subjectsContainer {
        justify-content: center !important;
    }

    .stepsContainer {
        width: 80% !important;
    }

    .stepContent h3 {
        font-size: 25px !important;
    }

    .stepContent p {
        font-size: 16px !important;
        line-height: 20px;
    }

    .nftsItem h3 {
        font-size: 25px !important;
    }

    .nftsInfo h5 {
        font-size: 18px !important;
    }

    .nftsInfo button {
        font-size: 18px !important;
    }

    .calculatorContainer {
        width: 90%;
        flex-direction: row !important;
        align-items: center !important;
        justify-content: flex-start;
    }

    .calPart input {
        font-size: 15px !important;
        color: #fff;
    }

    .calculatorContainer img {
        display: inline-block !important;
        width: 6em !important;
    }

    .featureItem img {
        width: 220px !important;
    }

    .featureItem h3 {
        font-size: 30px !important;
    }

    .featureItem p {
        font-size: 20px !important;
    }
}



@media (min-width: 768px) {
    .homeContent {
        margin-top: 10% !important;
    }

    .homeContent h1 {
        font-size: 76px !important;
    }

    .homeContent p {
        line-height: 30px;
        font-size: 22px !important;
    }

    .btcReleaseContainer h2 {
        font-size: 25px !important;
    }

    .timeContainer {
        font-size: 28px !important;
    }

    .btn {
        padding: 15px 20px !important;
    }

    .whitePaperBtn {
        margin-left: 10px;
    }

    .marketNewsHeader .title {
        font-size: 30px !important;
    }

    .marketNewsHeader button {
        font-size: 15px !important;
    }

    .itemContainer h3 {
        font-size: 25px !important;
    }

    .itemContainer p {
        font-size: 18px !important;
    }

    .subjectsContainer button {
        font-size: 15px;
        padding: 2px 5px !important;
    }

    .definitionContainer {
        flex-direction: row !important;
        margin-top: 10px !important;
    }

    .definitionContainer p {
        text-align: justify;
    }

    .definitionContainer img {
        display: inline-block !important;
        width: 40% !important;
        margin: 0 0 20px 0 !important;
    }

    .nftsContainer {
        flex-direction: row !important;
        justify-content: space-between;
    }

    .nftsItem {
        width: 23% !important;
    }

    .nftsInfo {
        flex-direction: column !important;
        align-items: self-start !important;
    }

    .nftsInfo h5 {
        margin-bottom: 5px !important;
    }

    .calculatorContainer {
        width: 100% !important;
    }

    .calPart {
        justify-content: center !important;
        border: none !important;
        padding: 0 !important;
    }

    .calPart input {
        padding: 16px 24px !important;
        margin-right: 15px !important;
        width: 65% !important;
    }

    .feature {
        height: 85em !important;
    }

    .featureContainer {
        flex-direction: row !important;
        flex-wrap: wrap;
    }

    .featureItem {
        width: 50%;
    }

    .featureItem img {
        width: 200px !important;
    }

    .featureItem h3 {
        font-size: 25px !important;
    }

    .featureItem p {
        font-size: 20px !important;
    }

    .title {
        font-size: 30px;
    }

}

@media (min-width: 992px) {
    .homeContent {
        margin-top: 5% !important;
    }

    .home nav ul {
        display: block !important;
        position: relative !important;
        transform: none !important;
        display: inline-block !important;
        background-color: transparent !important;
    }

    .home nav ul li {
        padding: 0 !important;
        border-bottom: none !important;
    }

    .home nav .burger {
        display: none !important;
    }

    .homeContent h1 {
        font-size: 80px !important;
    }

    .homeContent p {
        line-height: 34px;
        font-size: 25px !important;
    }

    .btcReleaseContainer h2 {
        font-size: 28px !important;
    }

    .timeContainer {
        font-size: 32px !important;
    }

    .btn {
        padding: 15px 24px !important;
    }

    .whitePaperBtn {
        margin-left: 15px;
    }

    .newsContentContainer {
        display: flex !important;
    }

    .newsContentContainer div:nth-child(2) {
        margin: 0 25px !important;
    }

    .stepsContainer:nth-child(odd) {
        flex-direction: row-reverse !important;
    }

    .stepsContainer {
        width: 100% !important;
        flex-direction: row !important;
    }

    .stepContent {
        width: 40% !important;
        transition: all .2s;
        cursor: pointer;
    }

    .stepContent:hover {
        box-shadow: 0 0 20px rgb(255, 255, 225, 1) !important;
    }

    .step-line {
        display: block !important;
    }

    .itemContainer h3 {
        font-size: 18px !important;
    }

    .itemContainer p {
        font-size: 15px !important;
    }

    .definitionContainer p {
        margin-left: 60px !important;
        line-height: 2vw !important;
    }

    .steps {
        flex-wrap: wrap;
    }

    .item {
        width: 40% !important;
        margin-top: 2vw !important;
        margin-bottom: .5vw !important;

        i {
            color: #ff960b;
        }

        h3 {
            color: #ff960b;
        }

        p {
            font-size: 15px;

        }
    }

    .feature {
        height: 65em !important;
    }

    .featureItem {
        width: 33.33% !important;
    }

    .featureItem img {
        width: 200px !important;
    }

    .featureItem h3 {
        font-size: 22px !important;
    }

    .featureItem p {
        font-size: 18px !important;
    }

}

@media (min-width: 1200px) {}