.section {
  display: flex;
  flex-direction: column;
  padding: 20px 7%;
  border-bottom: 1px solid #ff960b;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes updown {
  0% {
    transform: translateY(-1.5%);
  }
  50% {
    transform: translateY(1.5%);
  }
  100% {
    transform: translateY(-1.5%);
  }
}

@keyframes rightleft {
  0% {
    transform: translateX(-20%);
  }
  50% {
    transform: translateX(20%);
  }
  100% {
    transform: translateX(-20%);
  }
}

.link {
  color: #fff;
  outline: none;
  text-decoration: none;
  transition: all .3s;
}

.link:hover {
  color: #f3ba40;
}

.active {
  color: #ff960b !important;
}

.image {
  width: 100%;
  border-radius: 5px;
}

.btn {
  display: inline-block;
  outline: none;
  border: none;
  color: #fff;
  background-color: #ff960b;
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 5px !important;
  cursor: pointer;
  transition: all .3s;
}

.btn:hover {
  background-color: #f3ba40;
}

span {
  color: #ff960b;
}

.title {
  margin: 20px 0;
}

.title:before {
  content: '';
  top: 0;
  left: 0;
  width: 100px;
  border: 2px solid #ff960b;
  margin-right: 10px;
}

.showMenu {
  transform: translateY(0) !important;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppinds', sans-serif;
}

body {
  background-color: #000000;
  color: #fff;
}

.home {
  background-color: #000000;
  position: relative;
  width: 100%;
  height: 100vh;
  background-position: center;
  background-size: cover;
  color: #fff;
}

.home .logo {
  width: 50px;
  cursor: pointer;
}

.home nav {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  padding: 20px 7%;
}

.home nav button {
  background-color: transparent;
  border: 0;
  outline: 0;
}

.home nav .burger {
  z-index: 100;
  font-size: 25px;
  color: #ff960b;
  border: 2px solid #ff960b;
  border-radius: 5px;
  padding: 5px;
}

.home nav .burger .close {
  display: none;
}

.home nav ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  transform: translateY(-100%);
  transition: transform .3s;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  background-color: #000000;
}

.home nav ul li {
  padding: 20px 0;
  display: inline-block;
  margin: 10px 20px;
}

.home nav ul li a {
  color: #fff;
  text-decoration: none;
}

.home .content {
  margin-top: 30%;
  padding: 0 7%;
}

.home .content h1 {
  font-size: 44px;
  margin-bottom: 15px;
}

.home .content p {
  line-height: 24px;
  font-size: 18px;
}

.home .content .btcReleaseContainer {
  margin-top: 22px;
  margin-bottom: 30px;
}

.home .content .btcReleaseContainer h2 {
  font-size: 20px;
  color: #ff960b;
}

.home .content .timeContainer {
  font-size: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 10px;
}

.home .content .timeContainer .timePart {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: 1px solid #fff;
  border-bottom: 0;
  border-top: 0;
  padding: 10px;
}

.home .content .timeContainer .timePart:last-child {
  border: 0;
}

.home .content .whitePaperBtn {
  background-color: transparent !important;
  border: 1px solid #fff;
  margin-left: 5px;
}

.home .content .whitePaperBtn:hover {
  color: #ff960b !important;
  border: 1px solid #ff960b !important;
}

.home .content .buyBtcBtn:hover {
  background-color: #f0a910 !important;
}

.marketNews .marketNewsHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
}

.marketNews .marketNewsHeader button i {
  margin-left: 4px;
  animation: rightleft 2s ease infinite;
}

.marketNews .itemContainer {
  margin-bottom: 20px;
}

.marketNews .itemContainer p {
  margin-top: 5px;
}

.definition .subjectsContainer {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.definition .subjectsContainer button {
  background-color: transparent;
  border: 1px solid #ff960b;
  border-radius: 0 !important;
  margin: 5px;
}

.definition .subjectsContainer button:hover {
  color: #ff960b;
}

.definition .definitionContainer {
  display: flex;
  align-items: center;
}

.definition .definitionContainer p {
  text-align: justify;
}

.definition .definitionContainer img {
  display: none;
  width: 40%;
  margin-left: 20px;
  animation: updown 2s ease infinite;
}

.roadmapContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.roadmapContainer .item {
  margin-top: 5vw;
  margin-bottom: 2vw;
}

.roadmapContainer .item:hover i {
  color: #2dc62d !important;
}

.roadmapContainer .item:hover h3 {
  transform: translateX(15px);
}

.roadmapContainer i,
.roadmapContainer h3 {
  color: #ff960b;
  transition: all .3s;
}

.roadmapContainer h3 {
  margin-bottom: 5px;
}

.roadmapContainer p {
  font-size: 15px;
  text-align: justify;
}

.calculatorContainer {
  flex-direction: column;
  align-items: flex-start;
}

.calculatorContainer .calPart {
  border: 1px solid #ff960b;
  padding: 10px;
  border-radius: 5px;
}

.calculatorContainer .calPart input {
  outline: none;
  border: 1px solid #fff;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: transparent;
  margin: 10px;
  width: 70%;
}

.calculatorContainer img {
  display: none;
}

.coin-list {
  position: absolute;
  right: 10%;
  bottom: 50px;
  display: flex;
  align-items: center;
}

.coin-list .coin {
  display: flex;
  align-items: center;
  font-size: 14px;
  margin: 0 15px;
  color: #ff960b;
  border: 1px solid #fff;
  padding: 20px 30px;
  border-radius: 8px;
}

.coin-list .coin img {
  width: 40px;
  margin-right: 10px;
}

.coin-list .coin h3 {
  color: #fff;
  margin-bottom: 5px;
}
