.section {
    display: flex;
    flex-direction: column;
    padding: 20px 7%;
    border-bottom: 1px solid #ff960b;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes updown {
    0% {
        transform: translateY(-1.5%);
    }

    50% {
        transform: translateY(1.5%);
    }

    100% {
        transform: translateY(-1.5%);
    }
}

@keyframes rightleft {
    0% {
        transform: translateX(-20%);
    }

    50% {
        transform: translateX(20%);
    }

    100% {
        transform: translateX(-20%);
    }
}

.link {
    color: #fff;
    outline: none;
    text-decoration: none;
    transition: all .3s;

    &:hover {
        color: #ff960b;
    }
}

.active {
    color: #ff960b !important;
    border-color: #ff960b !important;
}

.image {
    width: 100%;
    border-radius: 5px;
}

.btn {
    display: inline-block;
    outline: none;
    border: none;
    color: #fff;
    background-color: #ff960b;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px !important;
    cursor: pointer;
    transition: all .3s;

    &:hover {
        background-color: #f3ba40;
    }

}

span {
    color: #ff960b;
}

.title {
    margin: 20px 0;

    &:before {
        content: '';
        top: 0;
        left: 0;
        width: 100px;
        border: 2px solid #ff960b;
        margin-right: 10px;
    }
}

.showMenu {
    transform: translateY(0) !important;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppinds', sans-serif;
}

body {
    background-color: #000000;
    color: #fff;
}

.home {
    background-color: #000000;
    position: relative;
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    color: #fff;

    .logo {
        width: 50px;
        cursor: pointer;
    }

    // &:before {
    //     content: '';
    //     position: absolute;
    //     background-color: rgba(0, 0, 0, .2);
    //     top: 0;
    //     left: 0;
    //     right: 0;
    //     bottom: 0;
    // }

    nav {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        width: 100%;
        padding: 20px 7%;

        button {
            background-color: transparent;
            border: 0;
            outline: 0;
        }

        .burger {
            z-index: 100;
            font-size: 25px;
            color: #ff960b;
            border: 2px solid #ff960b;
            border-radius: 5px;
            padding: 5px;

            .close {
                display: none;
            }
        }

        ul {
            display: flex;
            flex-direction: column;
            align-items: center;
            position: fixed;
            transform: translateY(-100%);
            transition: transform .3s;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 99;
            background-color: #000000;
            // display: none;

            li {
                padding: 20px 0;
                display: inline-block;
                margin: 10px 20px;

                a {
                    color: #fff;
                    text-decoration: none;
                }
            }
        }
    }

    .homeContent {
        margin-top: 30%;
        padding: 0 7%;

        h1 {
            font-size: 44px;
            margin-bottom: 15px;
        }

        p {
            line-height: 24px;
            font-size: 18px;
        }

        .btcReleaseContainer {
            margin-top: 22px;
            margin-bottom: 30px;

            h2 {
                font-size: 20px;
                color: #ff960b;
            }
        }

        .timeContainer {
            font-size: 20px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            margin-top: 10px;

            .timePart {
                display: flex;
                flex-direction: column;
                align-items: center;
                border-right: 1px solid #fff;
                border-bottom: 0;
                border-top: 0;
                padding: 10px;

                &:last-child {
                    border: 0;
                }
            }
        }

        .whitePaperBtn {
            background-color: transparent !important;
            border: 1px solid #fff;
            margin-left: 5px;

            &:hover {
                color: #ff960b !important;
                border: 1px solid #ff960b !important;

            }
        }

        .buyBtcBtn:hover {
            background-color: #f0a910 !important;
        }
    }
}

.marketNews {
    .marketNewsHeader {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 20px 0;

        button i {
            margin-left: 4px;
            animation: rightleft 2s ease infinite;
        }

    }

    .itemContainer {
        margin-bottom: 20px;

        h3 {
            margin-bottom: 8px;
        }

        button {
            font-size: 12px;
            margin-top: 15px;
            background-color: transparent !important;
            border-radius: 0 !important;
            border: 1px solid #ff960b;

            &:hover {
                background-color: #ff960b !important;

            }
        }
    }
}

.nftsHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;

    button i {
        margin-left: 4px;
        animation: rightleft 2s ease infinite;
    }
}

.nftsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;

    .nftsItem {
        margin: 20px 0;
        width: 100%;

        h3 {
            font-size: 22px;
            margin: 10px 0;
        }

        .nftsInfo {
            display: flex;
            justify-content: space-between;
            align-items: center;

            h5 {
                font-size: 15px;
            }

            button {
                padding: 5px 15px !important;
            }
        }

        img {
            width: 100%;
            border-radius: 20px;
        }
    }
}

.definition {
    .subjectsContainer {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        margin-top: 40px;

        button {
            padding: 2px 10px;
            background-color: transparent;
            border-bottom: 2px solid #fff;
            border-radius: 0 !important;
            margin: 10px;

            &:hover {
                color: #ff960b;
                border-color: #ff960b;
            }
        }
    }

    .definitionContainer {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;

        img {
            // display: none;
            width: 80%;
            margin: 20px 0;
            animation: updown 2s ease infinite;
        }
    }

}


.steps {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: relative;

    &:after {
        content: '';
        position: absolute;
        width: 1px;
        background-color: #ff960b;
        opacity: 0.3;
        top: 0;
        bottom: 45px;
    }

    .stepsContainer {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        position: relative;
        width: 90%;
        margin-bottom: 25px;

        .stepContent {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 20px;
            padding: 32px;
            background-color: #111;
            position: relative;
            border-radius: 5px;
            box-shadow: 0 1px 20px rgba(#ff960b, 0.5);
            z-index: 999;
        }

        .step-line {
            display: none;
            width: 40px;
            background-color: #ff960b;
            height: 1px;
            opacity: .4;
            margin-bottom: 10px;
        }

        .date {
            display: flex;
            font-weight: 900;
            font-size: 16px;
            color: #fff;
            margin-bottom: 15px;
            width: 62px;
            height: 62px;
            background-color: #ff960b;
            border-radius: 50%;
            align-items: center;
            justify-content: center;
            z-index: 999;
        }


        i {
            color: #ff960b;
        }

        h3 {
            color: #ff960b;
            transition: all .3s;
            text-align: center;
        }

        h3 {
            margin-bottom: 5px;
            font-size: 20px;
        }

        p {
            font-size: 15px;
            text-align: center;
        }
    }
}


.calculatorContainer {
    flex-direction: column;
    align-items: flex-start;

    .calPart {
        border: 1px solid #ff960b;
        padding: 10px;
        border-radius: 5px;


        input {
            color: #fff;
            outline: none;
            border: 1px solid #fff;
            padding: 10px 20px;
            border-radius: 5px;
            background-color: transparent;
            margin: 10px;
            width: 70%;

        }
    }

    img {
        display: none;
    }
}

.featureContainer {
    flex-direction: column;

    div {
        transition: all .3s;

        img {
            transition: all .3s;
        }

        &:hover img {
            transform: translateY(-10px);
        }
    }

    div:nth-child(even) {
        background-color: #111;
    }


    .featureItem {
        flex-direction: column;
        align-items: center;
        margin: 20px 0;
        padding: 20px;
        border-radius: 5px;

        img {
            width: 200px;
        }

        h3 {
            font-size: 24px;
            margin: 10px 0;
        }

        p {
            font-size: 18px;
            text-align: center;
            line-height: 24px;
        }
    }
}


.coin-list {
    position: absolute;
    right: 10%;
    bottom: 50px;
    display: flex;
    align-items: center;

    .coin {
        display: flex;
        align-items: center;
        font-size: 14px;
        margin: 0 15px;
        color: #ff960b;
        border: 1px solid #fff;
        padding: 20px 30px;
        border-radius: 8px;

        img {
            width: 40px;
            margin-right: 10px;
        }

        h3 {
            color: #fff;
            margin-bottom: 5px;
        }
    }
}