.link {
  color: #fff;
  outline: none;
  text-decoration: none;
  transition: all .3s;
}

.link:hover {
  color: #f3ba40;
}

.active {
  color: #ff960b !important;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppinds', sans-serif;
}

.home {
  background-color: #000000;
  position: relative;
  width: 100%;
  height: 100vh;
  background-position: center;
  background-size: cover;
  color: #fff;
}

.home .logo {
  width: 50px;
  cursor: pointer;
}

.home nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px 7%;
}

.home nav .burger {
  font-size: 25px;
  color: #ff960b;
  border: 2px solid #ff960b;
  border-radius: 5px;
  padding: 5px;
}

.home nav ul {
  display: none;
}

.home nav ul li {
  display: inline-block;
  margin: 10px 20px;
}

.home nav ul li a {
  color: #fff;
  text-decoration: none;
}

.content {
  margin-top: 30%;
  padding: 0 7%;
}

.content h1 {
  font-size: 44px;
  margin-bottom: 15px;
}

.content h1 span {
  color: #ff960b;
}

.content p {
  line-height: 22px;
  font-size: 18px;
}

.content .btcReleaseContainer {
  margin-top: 22px;
  margin-bottom: 30px;
}

.content .btcReleaseContainer h2 {
  font-size: 20px;
  color: #ff960b;
}

.content .timeContainer {
  font-size: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 10px;
}

.content .timeContainer #bar {
  margin: 10px;
}

.content .btn {
  display: inline-block;
  outline: none;
  color: #fff;
  background-color: #ff960b;
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 5px !important;
  transition: all .3s;
}

.content .whitePaperBtn {
  background-color: transparent !important;
  border: 1px solid #fff;
  margin-left: 5px;
}

.content .whitePaperBtn:hover {
  color: #ff960b !important;
  border: 1px solid #ff960b !important;
}

.content .buyBtcBtn:hover {
  background-color: #f0a910 !important;
}

.coin-list {
  position: absolute;
  right: 10%;
  bottom: 50px;
  display: flex;
  align-items: center;
}

.coin-list .coin {
  display: flex;
  align-items: center;
  font-size: 14px;
  margin: 0 15px;
  color: #ff960b;
  border: 1px solid #fff;
  padding: 20px 30px;
  border-radius: 8px;
}

.coin-list .coin img {
  width: 40px;
  margin-right: 10px;
}

.coin-list .coin h3 {
  color: #fff;
  margin-bottom: 5px;
}
