.link {
    color: #fff;
    outline: none;
    text-decoration: none;
    transition: all .3s;

    &:hover {
        color: #f3ba40;
    }
}

.active {
    color: #ff960b !important;
}

.image {
    width: 100%;
    border-radius: 5px;
}

.btn {
    display: inline-block;
    outline: none;
    border: none;
    color: #fff;
    background-color: #ff960b;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px !important;
    cursor: pointer;
    transition: all .3s;

    &:hover {
        background-color: #f3ba40;
    }

}

span {
    color: #ff960b;
}

.title {
    &:before {
        content: '';
        top: 0;
        left: 0;
        width: 100px;
        border: 2px solid #ff960b;
        margin-right: 10px;
    }
}

.showMenu {
    transform: translateY(0) !important;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppinds', sans-serif;
}

.home {
    background-color: #000000;
    position: relative;
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    color: #fff;

    .logo {
        width: 50px;
        cursor: pointer;
    }

    // &:before {
    //     content: '';
    //     position: absolute;
    //     background-color: rgba(0, 0, 0, .2);
    //     top: 0;
    //     left: 0;
    //     right: 0;
    //     bottom: 0;
    // }

    nav {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        width: 100%;
        padding: 20px 7%;

        button {
            background-color: transparent;
            border: 0;
            outline: 0;
        }

        .burger {
            z-index: 100;
            font-size: 25px;
            color: #ff960b;
            border: 2px solid #ff960b;
            border-radius: 5px;
            padding: 5px;

            .close {
                display: none;
            }
        }

        ul {
            display: flex;
            flex-direction: column;
            align-items: center;
            position: fixed;
            transform: translateY(-100%);
            transition: transform 0.2s;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 99;
            background-color: #000000;
            // display: none;

            li {
                padding: 20px 0;
                border-bottom: 1px solid #ff960b;
                display: inline-block;
                margin: 10px 20px;

                a {
                    color: #fff;
                    text-decoration: none;
                }
            }
        }
    }

    .content {
        margin-top: 30%;
        padding: 0 7%;

        h1 {
            font-size: 44px;
            margin-bottom: 15px;
        }

        p {
            line-height: 24px;
            font-size: 18px;
        }

        .btcReleaseContainer {
            margin-top: 22px;
            margin-bottom: 30px;

            h2 {
                font-size: 20px;
                color: #ff960b;
            }
        }

        .timeContainer {
            font-size: 20px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            margin-top: 10px;

            .part {
                display: flex;
                flex-direction: column;
                align-items: center;
                border-right: 1px solid #fff;
                border-bottom: 0;
                border-top: 0;
                padding: 10px;

                &:last-child {
                    border: 0;
                }
            }
        }

        .whitePaperBtn {
            background-color: transparent !important;
            border: 1px solid #fff;
            margin-left: 5px;

            &:hover {
                color: #ff960b !important;
                border: 1px solid #ff960b !important;

            }
        }

        .buyBtcBtn:hover {
            background-color: #f0a910 !important;
        }
    }
}

.marketNews {
    display: flex;
    flex-direction: column;
    padding: 0 7%;
    color: #fff;
    background-color: #000000;
    border-bottom: 1px solid #ff960b;

    .marketNewsHeader {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 20px 0;

        button i {
            transition: all .3s;
        }

        button:hover i {
            transform: translateX(40%);
        }

    }

    .itemContainer {
        margin-bottom: 20px;

        p {
            margin-top: 5px;
        }
    }
}

.definition {
    display: flex;
    flex-direction: column;
    padding: 20px 7% 0 7%;
    color: #fff;
    background-color: #000000;

    .subjectsContainer {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        margin-bottom: 20px;

        button {
            background-color: transparent;
            border: 1px solid #ff960b;
            border-radius: 0 !important;
            margin: 5px;

            &:hover {
                color: #ff960b;
            }
        }
    }

    .definitionContainer {
        display: flex;
        align-items: center;

        p {
            text-align: justify;
        }

        img {
            display: none;
            width: 40%;
            margin-left: 20px;
        }
    }


}



.coin-list {
    position: absolute;
    right: 10%;
    bottom: 50px;
    display: flex;
    align-items: center;

    .coin {
        display: flex;
        align-items: center;
        font-size: 14px;
        margin: 0 15px;
        color: #ff960b;
        border: 1px solid #fff;
        padding: 20px 30px;
        border-radius: 8px;

        img {
            width: 40px;
            margin-right: 10px;
        }

        h3 {
            color: #fff;
            margin-bottom: 5px;
        }
    }
}